/*Structure générale*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
i.fas {
    display: flex;
}
.container {
    margin: 10px 50px;
}
/*Polices*/

.btn, .searchbar__box, .filter__name {
    font-weight: 700;
} 
button {
    font-family: 'Raleway', sans-serif;   
}

/*Header*/
.header {
    display: flex;
    align-items: center;
    margin: 5px 50px;
    padding-top: 15px;
}
.header__btn {
  padding: 0 30px;
}
.header__logo{
    max-height: 50px;
}
.header__menu {
    margin-left: auto;
}
.header__navigation {
    display: flex;
} 
.header__btn--active, .header__btn--signUp {
    color: #0065FC;  
}
.header__btn--active {
   border-top: solid #0065FC 2px;
   padding-top: 34px;
}
.header__btn--signUp {
    font-weight: 600;
}
.header__btn--signUp, .header__navigation li {
    margin: 0 5px;
}

/*Recherche et filtres*/
.search__title {
    font-size: 22px;
}
.search__description{
    font-size: 15px;
}

/*Barre de recherche*/
.searchbar {
    display: flex;
}
.searchbar__box, .searchbar__logo, .searchbar__btn{
    padding: 12px 20px;
}
.searchbar__logo {
    background: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; 
    font-size: 15px; 
}
.searchbar__box {
    border-left:none;
    border-right: none;
    border-bottom: 1px #F2F2F2 solid;
    border-top: 1px #F2F2F2 solid;
    margin: 0 -4px;
    color: black;
}
::placeholder {
    color: black;
}
.searchbar__box:focus {
    outline: none;
}
.searchbar__btn {
    background: #0065FC;
    color: white;
    border: none ;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 1;
}
.searchbar__btn:hover {
opacity: 0.8;
}


/*Filtres*/
.filter {
    display: flex;
    margin-top: 30px;   
}
.filter__name {
    margin-right: 30px;
}
.filter__btn {
    display: flex;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-left: none;
    border-radius: 30px;
    padding: 2px 30px 2px 0px;
    background: none;
    max-height: 40px;
    margin: 0 10px;
    font-size: 16px;
    opacity: 1;
}
.filter__btn:hover{
    opacity: 0.8;
}
.filter__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC;
    background: #DEEBFF; 
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-right: 10px;
}
.search-result {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.search-result__logo{
display: flex;
justify-content: center;
align-items: center;
color: #0065FC;
font-size: 12px;
border:#DEEBFF solid 2px;
height: 20px;
width: 20px;
border-radius: 50%;
margin-right: 10px;
}

/*Cartes hébergements*/
.accommodation {
    display: flex;
    
}
.city-accommodation, .popular-accommodation{
    background: #F2F2F2;
    border-radius: 30px;
    padding: 1% 2% 0;
}
.city-card, .popular-card {
    background: white;
    padding: 5px;
    border-radius: 25px;
}
.city-card__rating, .popular-card__rating {
    display: flex;
    color: #0065FC;
}
/*Cartes villes*/
.city-accommodation {
    margin-right: 3%;
    
    
}.city-accommodation__layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    grid-gap: 30px;
}
.city-card{
    width: 245px;
    height: 200px;
    margin: 5px 0;
    box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.24);
}
.city-card__picture {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.city-card__title, .city-card__description, .city-card__rating {
    margin:  6px 0 6px 15px;
    font-size: 0.9em;
}
.city-card__title {
    font-size: 1em;
}
.card__rating--grey {
    color: #d5d9db;
}
.city-accommodation__btn {
    border: none;
    font-size: 16px;
    margin: 30px 0;
}

/*Cartes populaires*/ 
.popular-accommodation__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-card {
    display: flex;
    margin: 20px 0;
    height: 150px;
    width: 350px;
}

.popular-card__picture {
    max-height: 200px;
    max-width: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
}
.popular-card__content {
    margin-left: 20px;
}
.popular-card__title, .popular-card__description {
    margin: 10px 0;
}
.popular-card__title {
    font-size: 1em;
}
.popular-card__description {
    font-size: 0.9em;
}
.popular-card__rating {
    margin-top: 50px;
    font-size: 0.8em;
}











/*Mobile*/
@media (max-width: 576px) {

    /*Header*/
    .header {
        flex-wrap: wrap;
        margin: 15px 0px;
        border-bottom: solid #F2F2F2 3px;
    }
    .header__navigation a {
        padding: 5px 40px 21px 40px; 
    }
    .header__logo {
        max-height: 40px;
        order: -2;
        margin-left: 20px;
    }
    .header__btn--signUp{
        order: -1 ;
        margin-left: auto;
        margin-right: 20px;
    }
    .header__menu {
      margin: 10px 10px 5px 0px; 
    }
    .header__navigation {
        padding:0
    }
    .header__navigation li {
        margin: 5px 20px 0px 0px;
    } 
    .header__btn--active {
        border-top: none;
        border-bottom: solid #0065FC 3px;
    }
}