/*Structure générale*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}

/*Header*/
.site-header {
    display: flex;
    align-items: center;
    margin: 5px 40px;
    padding-top: 15px;
}
.site-header a {
    padding-left:30px;
    padding-right: 30px;
}
.site-logo {
    max-height: 50px;
}
nav {
    margin-left: auto;
}
.navigation {
    display: flex;
} 
.active, .subscribe-btn {
    color: #0065FC;  
}
.active {
   border-top: solid #0065FC 2px;
   padding-top: 34px;
}
.subscribe-btn {
    font-weight: 600;
}
.subscribe-btn, .navigation li {
    margin: 0 5px;
}

/*Recherche et filtres*/
#hebergements {
    margin: 30px 40px;
}
#hebergements h1 {
    font-size: 22px;
}
#hebergements p {
    font-size: 15px;
}

/*Barre de recherche*/
.searchbar {
    display: flex;
}
.searchbar input, .searchbar i, .searchbar-btn{
    padding: 12px 20px;
}
.searchbar input {
    border-left:none;
    border-right: none;
    border-bottom: 1px #F2F2F2 solid;
    border-top: 1px #F2F2F2 solid;
    margin: 0 -4px;
    font-weight: 700;
    color: black;
}
::placeholder {
    color: black;
}

.searchbar input:active {
color: none;
}
.searchbar-btn {
    background: #0065FC;
    color: white;
    border: none ;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: 500;
}
.searchbar-logo {
    background: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;   
}
.searchbar-logo i {
    font-size: 15px;
}








/*Mobile*/
@media (max-width: 576px) {

    /*Header*/
    .site-header {
        flex-wrap: wrap;
        margin: 15px 0px;
        border-bottom: solid #F2F2F2 3px;
    }
    nav a {
        padding: 5px 50% 21px 50%;
    }
    .site-logo {
        max-height: 40px;
        order: -2;
        margin-left: 20px;
    }
    .subscribe-btn{
        order: -1 ;
        margin-left: auto;
        margin-right: 20px;
    }
    nav {
      margin: 10px 10px 5px 0px; 
    }
    .navigation {
        padding:0
    }
    .navigation li {
        margin: 5px 10px 0px 0px;
    } 
    .active {
        border-top: none;
        border-bottom: solid #0065FC 3px;
    }
}